@import-normalize;

body {
  font-family: 'Roboto', sans-serif !important;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar-thumb {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  display: none;
}

* {
  touch-action: manipulation !important;
}

.page-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  display: flex;
  background-color: var(--bg-primary);
}
